<mat-card>
    <mat-card-title>
        Detalhes do Gasto
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome da pessoa" [(ngModel)]="gasto.nomePessoa" name="nomePessoa" disabled >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição do gasto" [(ngModel)]="gasto.descricaoGasto" name="descricaoGasto" disabled >
        </mat-form-field>
        <mat-form-field>
            <input matInput type="datetime-local" placeholder="Data/Hora do gasto" [(ngModel)]="gasto.dataHoraGasto" name="dataHoraGasto" disabled >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor do gasto" [(ngModel)]="gasto.valorGasto" name="valorGasto" disabled >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tag do gasto" [(ngModel)]="gasto.tagGasto" name="tagGasto" disabled >
        </mat-form-field>
    </form>
    <button mat-raised-button color="warn" (click)="cancelar()">
        Cancelar
    </button>
</mat-card> 