<mat-card>
    <mat-card-title>
        Listagem de Gastos
    </mat-card-title>

    <app-gasto-read></app-gasto-read>

    <button color="primary" mat-raised-button (click)="navegarCriacaoGasto()">
        Novo Gasto
    </button>
</mat-card>