<mat-card>
    <mat-card-title>
        Novo Gasto
    </mat-card-title>
    <form [formGroup]="form">
        <mat-form-field>
            <input matInput placeholder="Nome da pessoa"  name="nomePessoa" formControlName="nomePessoa" maxlength="150" required >
            <mat-error>{{MSG_CAMPO_OBRIGATORIO}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição do gasto"  name="descricaoGasto" formControlName="descricaoGasto" maxlength="500" required >
            <mat-error>{{MSG_CAMPO_OBRIGATORIO}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="datetime-local" placeholder="Data/Hora do gasto"  name="dataHoraGasto" formControlName="dataHoraGasto" required >
            <mat-error>{{MSG_CAMPO_OBRIGATORIO}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor do gasto"  name="valorGasto" formControlName="valorGasto" type="number" maxlength="10" required >
            <mat-error>{{MSG_CAMPO_OBRIGATORIO}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tag do gasto"  name="tagGasto" formControlName="tagGasto" maxlength="200" required >
            <mat-error>{{MSG_CAMPO_OBRIGATORIO}}</mat-error>
        </mat-form-field>
    </form>
    <button color="primary" mat-raised-button (click)="criarGasto()" >
        Salvar
    </button>
    <button color="warn" mat-raised-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>