<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Seja bem vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema para gerencimento de gastos pessoais.
    </mat-card-subtitle>
</mat-card>